
header {
    position: relative;
    margin: 0;
    padding-top: 0px;
}

.header {
    font-size: 26px;
    margin: auto;
    text-align: center;
    margin-bottom: 30px;
    
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #aaaaaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  
  25% {
    transform: rotate(180deg);
  }
  
  50% {
    transform: rotate(180deg);
  }
  
  75% {
    transform: rotate(360deg);
  }
  
  100% {
    transform: rotate(360deg);
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  
  25% {
    height: 0%;
  }
  
  50% {
    height: 100%;
  }
  
  75% {
    height: 100%;
  }
  
  100% {
    height: 0%;
  }
}


#app { display:block !important; }

.button-login{
    display: inline-block;
    font-weight: 400;
    color: #858796;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #333333;
    border-color: #333333;
    cursor: pointer; /* Mouse pointer on hover */
}

.button-login:hover {
    background-color: #636363;
    border-color: rgb(87, 87, 87);
    border-radius: 6px;
}

.boton_login:focus, .boton_login.focus {
    background-color: #525252;
    border-color: rgb(87, 87, 87);
    border-radius: 6px;
    box-shadow: 0 0 0 0.2rem #999999;;
}

.boton_login.disabled, .boton_login:disabled {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
  }

.button-login:active {
    background-color: #999999;
    border-radius: 8px;
}

.agregar {
    background-image: url('/images/add_icon.png');
    background-repeat: no-repeat; 
    display: inline-block;
    font-weight: 400;
    color: #858796;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.125rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #333333;
    border-color: #333333;
    cursor: pointer; /* Mouse pointer on hover */
}

.agregar:hover {
    background-color: #636363;
    border-color: rgb(87, 87, 87);
    border-radius: 6px;
}

.agregar:focus, .agregar.focus  {
    background-color: #525252;
    border-color: rgb(87, 87, 87);
    border-radius: 6px;
    box-shadow: 0 0 0 0.2rem #999999;;
}

.agregar.disabled, .agregar:disabled {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
  }
  
  .agregar:not(:disabled):not(.disabled):active, .agregar:not(:disabled):not(.disabled).active,
  .show > .agregar.dropdown-toggle {
    color: #fff;
    background-color: #636363;
    border-color: #585858;
  }


.agregar:active {
    background-color: #999999;
    border-radius: 6px;
}

.boton_gestionar {

    display: inline-block;
    font-weight: 400;
    color: #858796;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.35rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    color: #fff;
    background-color: #333333;
    border-color: #333333;
    cursor: pointer; /* Mouse pointer on hover */
}

.boton_gestionar:hover {
    background-color: #636363;
    border-color: rgb(87, 87, 87);
    border-radius: 6px;
}

.boton_gestionar:focus, .boton_gestionar.focus {
    background-color: #525252;
    border-color: rgb(87, 87, 87);
    border-radius: 6px;
    box-shadow: 0 0 0 0.2rem #999999;;
}

.boton_gestionar.disabled, .boton_gestionar:disabled {
    color: #fff;
    background-color: #333333;
    border-color: #333333;
  }
  
  .boton_gestionar:not(:disabled):not(.disabled):active, .boton_gestionar:not(:disabled):not(.disabled).active,
  .show > .boton_gestionar.dropdown-toggle {
    color: #fff;
    background-color: #636363;
    border-color: #585858;
  }

.boton_gestionar:active {
    background-color: #999999;
    border-radius: 8px;
}

.segundo_boton_gestionar {
    background-repeat: no-repeat; 
    background-repeat: no-repeat; 
    background-color: #464646;
    border-color: #464646;
    color: white;
    margin-left: auto;   
    height: 28px;
    text-align: left;
    border-radius: 6px;
    padding: 0px 30px; /* Some padding */
    cursor: pointer; /* Mouse pointer on hover */
}

.segundo_boton_gestionar:hover {
    background-color: #727272;
    border-color: rgb(94, 94, 94);
    border-radius: 6px;
}

.segundo_boton_gestionar:focus, .boton_gestionar.focus {
    background-color: #646464;
    border-color: rgb(94, 94, 94);
    border-radius: 6px;
    box-shadow: 0 0 0 0.2rem #aaaaaa;;
}

.segundo_boton_gestionar:active {
    background-color: #aaaaaa;
    border-radius: 8px;
}

.nav-link:hover{

    background-color: #616161;
    border-radius: 8px;
}

#busc_carrera {
    background-image: url('/images/search_icon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 2px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}


#info {

    background-image: url('/images/info_icon.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 28px;
    height: 28px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;


}

#info:hover {
    background-color: rgb(84, 127, 175);
    border-radius: 12px;
}

#info:active {
    background-color: rgb(52, 78, 107);
    border-radius: 12px;
}

#download {

    background-image: url('/images/download_icon.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 25px;
    height: 25px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;


}

#download:hover {
    background-color: rgb(68, 68, 68);
    border-radius: 10px;
}

#download:active {
    background-color: rgb(43, 43, 43);
    border-radius: 10px;
}

#mod {
    background-image: url('/images/edit_icon.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 28px;
    height: 28px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;
}
#mod:hover {
    background-color: rgb(9, 128, 224);
    border-radius: 10px;
}

#mod:active {
    background-color: rgb(4, 79, 139);
    border-radius: 10px;
}
#del {
    background-image: url('/images/delete_icon.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 28px;
    height: 28px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;   
}
#del:hover {
    background-color: rgb(245, 39, 39);
    border-radius: 10px;
}
  
#del:active {
    background-color: rgb(172, 23, 23);
    border-radius: 10px;
}

.cursor-grab {
    cursor: -webkit-grab;
    cursor: grab;
}

#copy {
    background-image: url('/images/copy_icon.png');
    background-repeat: no-repeat;
    background-color: transparent;
    width: 28px;
    height: 28px;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    border: none;   
}
#copy:hover {
    background-color: rgb(167, 167, 167);
    border-radius: 10px;
}
  
#copy:active {
    background-color: rgb(112, 112, 112);
    border-radius: 10px;
}
  
.tasks {
    min-height: 450px;
}

#lista {
    border-collapse: collapse; /* Collapse borders */
    width: 100%; /* Full-width */
    border: 2px solid #ddd; /* Add a grey border */
    font-size: 18px; /* Increase font-size */
}
  
#lista td {
    text-align: left; /* Left-align text */
    padding: 12px; /* Add padding */
    color: black;
}

  
#lista th {
    /* Add a bottom border to all table rows */
    border-bottom: 2px solid #ddd;
    cursor: pointer;
    background: #333333;
}
  
#lista tr.header, #lista tr:hover {
    /* Add a grey background color to the table header and on hover */
    background-color: #929292;
}

